# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    
    - CONDA_PY=27
    - CONDA_PY=35
    - CONDA_PY=36
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "S5FtfrbTx35m6N6CApuVLwkBSyOp67FLsM09fQCsKigStu79LJv1WAksCATuOvxo4wwaqkZNlOEQApIxj/9KxNFDXnRHo4bVPubvh1Jk7RaWGOwD6Abq7g0j4VxPKYw52EvjZzp9f3lIwLRUEaFkexNUrWpMObPOYHgm/z0waZqJRKCESMVG10dc6utTc56l+s7wR7DkcUFDZISNCyOlgySPpH1iFf6d1AGxDGIDdcQTQscwksMfjk22AVBQPXMZ3/tufbuh4GAU8tBMT9+Agv6iCL0ByGwPC8FrzYz+rTMWnmodiHyC+5PzWwd87jenDosQU7XUQn3xb5pxJapL3CyORq1F2HYU7ewTV5VvS1Bm1j29e5+RMlP5E5AhGKA+pTkVNDXR15/dtkWLFGwoHjL85zGX7JdwVmnxvfvowsUl2CKOKHaB4JVRel8azsDfulJA1NLKf/51iS+aPjgq7bbguXogP9bn/UfNmexjb5O2m88sIXH+CjaELmvodswHMTkswhhTmpY2i2Snb8t3lhHzOfRAVKzCy6ik5tmCXM+o+eyNtzV8R3lMdvjSFofzrIQ89Zn/a8epMT5l6WkOdZMNa4Quzt9h9rgjgy9g3u41TmSJwxE0YbYplDVmUyTiBoaNFPsrHy4sNaFgeoxCypvKjoWrqSTwbYnINgPFYoE="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-build-setup-feedstock/master/recipe/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main
